#Database link
DATABASE_URL=DATABASE_URL

#Better auth credentials
BETTER_AUTH_SECRET=BETTER_AUTH_SECRET
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

#GITHUB
GITHUB_CLIENT_ID=GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=GITHUB_CLIENT_SECRET
#GOOGLE
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET

#Open Router
OPENROUTER_API_KEY=OPENROUTER_API_KEY

